{
  "presets": ["env","es2015","stage-0","stage-1","stage-2","stage-3", "react","react-app"],
  "plugins":["babel-plugin-add-module-exports","babel-plugin-react-require","babel-plugin-syntax-dynamic-import","babel-plugin-transform-decorators",["imports-transform", {
    "antd":{
      "transform": "antd/es/${member}",
      "preventFullImport": true,
      "kebabCase":true
    },
    "ant-design-pro":{
      "transform": "ant-design-pro/es/${member}",
      "preventFullImport": true
    },
    "kxt": {
      "transform": "kxt/lib/${member}",
      "preventFullImport": true,
      "kebabCase":true
    }
  }],["import", [{
    "libraryName": "antd",
    "libraryDirectory": "es",
    "style": false
  },{
    "libraryName": "ant-design-pro",
    "libraryDirectory": "es",
    "style": false
  },{
    "libraryName": "kxt",
    "libraryDirectory": "lib",
    "style": false
  }]]]
}
